@charset "UTF-8";
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-color: #212121;
  --text-color: #757575;
  --color-button: #ffff;
  --primary-background: #2F303A;
  --color-link-title: #2196f3;
  --background-button: #2196f3;
  --main-title-color: #ffff;
  --our-team-background: #F5F4FA;
  --address-text-color: #ffff;
  --color-link-footer: #ffff;
  --company-text-color: #000000;
  --background-portfolio-button: #F5F4FA;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --description-color: #a8a8a8;
  --label-background-color: rgba(33, 150, 243, 0.9);
  --button-focus-color: #188ce8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --background-color:  rgba(47, 48, 58, 0.8);
  --border-color: rgba(255, 255, 255, 0.3);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-left: o;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}

ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.contact-form-submit {
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  display: block;
  border-radius: 4px;
  background-color: var(--color-link-title);
  color: var(--address-text-color);
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-set {
  display: flex;
  justify-content: space-between;
}

.logo-cards:not(:last-child) {
  margin-right: 10px;
}

.in-style {
  width: 20px;
  height: 20px;
}

.link-logo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-link-footer);
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.link-logo-list:hover,
.link-logo-list:focus {
  fill: var(--color-link-footer);
  background: var(--color-link-title);
}

.section-description {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.what-we-do-description {
  display: flex;
  justify-content: center;
}

.footer-list-icon {
  display: flex;
  width: 206px;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-icon-list {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #fff;
}

.footer-icon-list:hover,
.footer-icon-list:focus {
  background: var(--color-link-title);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  pointer-evEnts: auto;
  transition: visibility 250ms;
  opacity: 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--address-text-color);
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close {
  fill: var(--title-color);
  width: 11px;
  height: 11px;
}

.close-btn:hover > .close, .close-btn:hover:focus > .close {
  fill: var(--color-link-title);
}

.form-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
}

.forma {
  display: flex;
  flex-direction: column;
}

.label {
  font-style: normal;
  font-weight: 500;
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03;
  color: var(--text-color);
}

.name {
  margin-bottom: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--text-color);
  padding-left: 42px;
  font-size: 14px;
  transition: border-color 250ms, linear;
  outline: 0;
}

.contact-form-input:focus + .form-tel {
  transition: border-color 250ms, linear;
  fill: var(--color-link-title);
}

.contact-form-input:hover + .form-tel {
  transition: border-color 250ms, linear;
  fill: var(--color-link-title);
}

.contact-form-input:hover, .contact-form-input:focus {
  border-color: var(--color-link-title);
}

.contact-form-input:focus + .user {
  transition: border-color 250ms, linear;
  fill: var(--color-link-title);
}

.contact-form-input:hover + .user {
  transition: border-color 250ms, linear;
  fill: var(--color-link-title);
}

.contact-form-input:focus + .form-mail {
  transition: border-color 250ms, linear;
  fill: var(--color-link-title);
}

.contact-form-input:hover + .form-mail {
  transition: border-color 250ms, linear;
  fill: var(--color-link-title);
}

.label-wrap {
  position: relative;
}

.user {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  top: 37px;
  color: CurrentColor;
}

.form-tel {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: -35px;
  top: 37px;
  color: CurrentColor;
}

.form-mail {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 37px;
  transform: translateY(-50%);
  left: -20px;
  color: CurrentColor;
}

.textarea {
  width: 100%;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms linear;
  resize: none;
}

.textarea:hover {
  outline: none;
  border-color: var(--color-link-title);
  transition: border-color 250ms, linear;
}

.textarea:focus {
  outline: none;
  border-color: #2196F3;
  transition: border-color 250ms, linear;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.checkbox:checked {
  margin-left: 10px;
  width: 16px;
  height: 15px;
}

.checkbox:checked + .checkbox-label::before {
  background-size: cover;
  background-image: url(../images/iconcheck.svg);
}

.checkbox:focus + .checkbox-label::before {
  border-radius: 2px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-color);
  border-radius: 2px;
  margin-right: 10px;
}

.check {
  display: inline-block;
  width: 11px;
  height: 8px;
  vertical-align: middle;
  fill: var(--address-text-color);
  stroke: var(--address-text-color);
}

.checkbox-policy {
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-left: 13px;
  margin-right: 7px;
  border: 1px solid var(--title-color);
  border-radius: 2px;
  align-items: center;
}

.policy-text {
  font-size: 14px;
  line-height: 1.8;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.policy-link {
  color: var(--color-link-title);
  text-decoration: underline;
}

.accept {
  font-size: 14px;
  padding-left: 10px;
  color: var(--color-link-title);
  text-decoration: underline;
  color: var(--color-link-title);
}

.header {
  border-bottom: 1px solid var(--border-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-port {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.list-row {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: auto;
}

.logo-blue {
  font-family: Raleway;
  color: var(--color-link-title);
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.2;
  list-style: none;
}

.logo, .logo-footer {
  font-family: Raleway;
  color: var(--title-color);
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.2em;
  text-decoration: none;
  margin-right: 92px;
}

.logo-footer {
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}

/*стили для сылок*/
* li, a {
  list-style: none;
  text-decoration: none;
}

.list {
  display: flex;
}

.link {
  display: inline-block;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0,02em;
  color: var(--title-color);
  text-decoration: none;
  transition: color 250ms linear;
}

.list-row .link-active {
  display: inline-block;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  color: var(--color-link-title);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  padding-left: 0;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--color-link-title);
}

.list-row .link-active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: var(--color-link-title);
  transform: translateY;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  bottom: -31px;
  left: 0;
}

.link-grey {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  color: var(--text-color);
  letter-spacing: 0.02em;
  line-height: 1.2em;
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms linear;
}

.contacts .item-head + .item-head {
  margin-left: 50px;
}

.icon-item {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.link-grey:hover,
.link-grey:focus {
  fill: var(--color-link-title);
}

.icon-item-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.link-item:hover,
.link-item:focus {
  color: var(--color-link-title);
}

.link-grey:hover,
.link-grey:focus {
  color: var(--color-link-title);
}

.contacts {
  display: flex;
  margin-left: auto;
  list-style: none;
  align-items: center;
}

.header-item {
  margin-left: 50px;
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.65;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.section-advantages {
  padding-top: 94px;
}

.middle-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hide-text {
  display: none;
}

.middle-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.midle-list.item:not(:last-child) {
  margin-right: 30px;
}

.item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.text-list {
  color: var(--title-color);
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.grey-text {
  color: var(--text-color);
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  text-align: left;
}

.middle-section {
  padding-bottom: 94px;
}

.section-description {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.what-we-do-description {
  display: flex;
  justify-content: center;
}

.what-we-do-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left: -30px;
}

.advant-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-portfolio-button);
}

.icon-satelite {
  width: 70px;
  height: 70px;
}

.item {
  position: relative;
}

.service-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--background-color);
  color: var(--color-link-footer);
}
/*# sourceMappingURL=main.css.map */