.btn-list {
    display: flex;
     justify-content: center;
    margin-bottom: 50px;
 }
    
 .padding-item:not(:last-child) {
    margin-right: 8px;
 }
    
 .btn-port {
    font-family: Roboto;
    font-style: normal;
    background: var(--background-portfolio-button);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4x;
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;
    margin-right: 8px;
    color: var(--title-color);
 }
 .btn-port:hover,
 .btn-port:focus {
    background: var(--color-link-title);
    color: var(--address-text-color);
    cursor: pointer;
 }
    
 .btn-port-active {
    font-family: var(--main-font);
    font-style: normal;
    background: var(--color-link-title);
    color: var(--address-text-color);
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding: 6px 22px;
    border-collapse: collapse;
    cursor: pointer;
 }
 